<p-growl baseZIndex="10" [(value)]="msgs"></p-growl>
<h3 class="first">Fibonacci Algorithm</h3>
<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <input type="number" pInputText [(ngModel)]="number" placeholder="Number">
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <button pButton type="button" label="Get Series" (click)="getSeries($event)"></button>
    </div>
  </div>
</div>
<p>{{series}}</p>