<h3>Question 1 </h3>
<p>
  Given two double values d1, d2, why isn’t it reliable to test their equality using: <b>d1 == d2</b>
</p>

<h3>Answer</h3>
<p>
  This way of comparing Doubles is not correct because they can both hold the value NaN, which will evaluated to false (which
  is incorrect).
</p>
<p>
  The operator that should be is Double.compare(), like this: <b>(Double.compare(d1, d2) == 0)</b>
</p>

<h3>Question 2 </h3>
<p>
  What is the problem with this code: <b>final byte[] bytes = someString.getBytes();</b>
</p>

<h3>Answer</h3>
<p>
  The problem with this code is that it doesn’t specify the Charset of the methot String.getBytes() and by default it would
  use the one from the JVM.
</p>
<p>
  This could lead to problems because when it is executed in different environments (such as Windows or Linux installations)
  it will use different Charsets, making the value of <b>someString.getBytes()</b> potentially different across platforms.
</p>