<p-growl baseZIndex="10" [(value)]="msgs"></p-growl>
<!--<p-messages [(value)]="msgs"></p-messages>-->
<div *ngIf="showPatients">
  <h3 class="first">Add Patient</h3>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input type="text" pInputText [(ngModel)]="nombre" placeholder="Name">
      </div>
    </div>

    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <input type="number" pInputText [(ngModel)]="edad" pInputText Age placeholder="Age">
      </div>
    </div>

    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <button pButton type="button" label="Save" (click)="crear($event)"></button>
        <button pButton type="button" label="Clear" (click)="clear()"></button>
      </div>
    </div>
  </div>

  <p-dataTable [value]="lista" [rows]="5" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]">
    <p-header>Patients</p-header>
    <p-column field="name" header="Name" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
    <p-column field="age" header="Age"></p-column>
    <p-column header="BPM/Blood Pressure" [style]="{'width':'auto'}">
      <ng-template let-patient="rowData" pTemplate="body">
        {{checkVitals(patient)}}
      </ng-template>
    </p-column>
    <p-column header="Actions" [style]="{'width':'auto'}">
      <ng-template let-patient="rowData" pTemplate="body">
        <button class="ui-button-warn" label="Read Vitals" type="button" pButton (click)="showVitalsDialog(patient)" icon="fa fa-ambulance"></button>
        <button class="ui-button-warn" label="Show Vitals" type="button" pButton (click)="vitalsView(patient.id)" icon="fa fa-search"></button>
        <button class="ui-button-warn" label="Edit" type="button" pButton (click)="showEdit(patient)" icon="fa fa-pencil"></button>
        <button class="ui-button-danger" label="Delete" type="button" pButton (click)="deletePatient(patient)" icon="fa fa-remove"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>

<div *ngIf="showVitals">
  <button pButton type="button" label="Go Back" (click)="patientView($event)"></button>
  <p-dataTable [value]="vitals" [rows]="5" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]">
    <p-header>Vital Signs</p-header>
    <p-column header="Date" [style]="{'width':'auto'}">
      <ng-template let-vital="rowData" pTemplate="body">
        {{vital.updatedAt | date:"MM/dd/yy hh:mm:ss"}}
      </ng-template>
    </p-column>
    <p-column field="heartRate" header="BPM"></p-column>
    <p-column field="systolic" header="Systolic Pressure"></p-column>
    <p-column field="diastolic" header="Diastolic Pressure"></p-column>
    <p-column header="Actions" [style]="{'width':'auto'}">
      <ng-template let-vital="rowData" pTemplate="body">
        <button class="ui-button-warn" label="Edit" type="button" pButton (click)="showEditVitals(vital)" icon="fa fa-pencil"></button>
        <button class="ui-button-danger" label="Delete" type="button" pButton (click)="deleteVital(vital)" icon="fa fa-remove"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>

<p-dialog header="Edit Patient" resizable="false" closable="true" responsive="true" [(visible)]="display">
  <div class="p-grid p-dir-col">
    <div class="p-col">
      <div class="ui-inputgroup">
        <input type="text" size="30" pInputText [(ngModel)]="nombre" placeholder="Name">
      </div>
    </div>
    <br/>
    <div class="p-col">
      <input type="number" size="30" pInputText [(ngModel)]="edad" placeholder="Age">
    </div>
  </div>
  <p-footer>
    <button pButton type="button" label="Save" (click)="update($event)"></button>
    <button pButton type="button" label="Close" (click)="closeEdit()"></button>
  </p-footer>
</p-dialog>



<p-dialog header="Create Vital Signs Reading" resizable="false" closable="true" responsive="true" [(visible)]="displayV">
  <div class="p-grid p-dir-col">
    <div class="p-col">
      <div class="ui-inputgroup">
        <input type="number" size="30" pInputText [(ngModel)]="heartRate" placeholder="Heart Rate">
      </div>
    </div>
    <br/>
    <div class="p-col">
      <input type="number" size="30" pInputText [(ngModel)]="systolicPressure" Age placeholder="Systolic Pressure">
    </div>
    <br/>
    <div class="p-col">
      <input type="number" size="30" pInputText [(ngModel)]="diastolicPressure" Age placeholder="Diastolic Pressure">
    </div>
  </div>
  <p-footer>
    <button pButton type="button" label="Save" (click)="createVitalSigns($event)"></button>
    <button pButton type="button" label="Close" (click)="closeVitalsDialog()"></button>
  </p-footer>
</p-dialog>


<p-dialog header="Edit Vital Signs Reading" resizable="false" closable="true" responsive="true" [(visible)]="displayVE">
  <div class="p-grid p-dir-col">
    <div class="p-col">
      <div class="ui-inputgroup">
        <span class="ui-float-label">
          <input id="float-input" type="number" size="30" pInputText [(ngModel)]="heartRate" size="30" pInputText>
          <label for="float-input">Heart Rate</label>
        </span>
      </div>
    </div>
    <br/>
    <div class="p-col">
      <span class="ui-float-label">
        <input id="float-input" type="number" size="30" pInputText [(ngModel)]="systolicPressure" size="30" pInputText>
        <label for="float-input">Systolic Pressure</label>
      </span>
    </div>
    <br/>
    <div class="p-col">
      <span class="ui-float-label">
        <input id="float-input" type="number" size="30" pInputText [(ngModel)]="diastolicPressure" size="30" pInputText>
        <label for="float-input">Diastolic Pressure</label>
      </span>
    </div>
  </div>
  <p-footer>
    <button pButton type="button" label="Save" (click)="editVitalSigns($event)"></button>
    <button pButton type="button" label="Close" (click)="closeEditVitals()"></button>
  </p-footer>
</p-dialog>